.logo {
    display: flex;
    align-items: center;
    font-size: 12px;
    /*flex-grow: 1;*/
}

.logo img {
    width: 45px;
    border-radius: 30px;
    margin-right: 10px;
}

.input {
    flex-grow: 1;
}

.input input {
    padding: 10px 150px 10px 12px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #aaa;
    z-index: 1001;
    position: relative;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    opacity: .4;
    display: none;
    z-index: 1000;
}

.input input:focus ~ .fade {
    display: block;
}

.support {
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
    font-family: Arial, serif;
}

.link {
    display: inline-flex;
}

.sidedrawerList {
    background: #2a2a2a;
    height: 150px;
    text-align: center;
    color: #fff;
}

.user {
    display: inline-flex;
    padding: 20px;
}

.user img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.user a {
    text-decoration: none;
    margin-top: 14px;
    color: #000;
    font-weight: bold;
}

.list h3 {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.searchResult {
    background: #fff;
    position: absolute;
    z-index: 10000;
    padding: 10px;
    margin-top: 5px;
    width: 280px;
    border-radius: 2px;
    text-align: center;
    overflow: scroll;
    max-height: 200px;
    margin-left: 2px;
}

.searchResult li {
    list-style-type: none;
    display: flex;
    padding: 5px;
    cursor: pointer;
    align-items: center;
}

.searchResult img {
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
    height: 30px;
}

.noResult {
    position: absolute;
    background: #fff;
    list-style: none;
    z-index: 1000000;

}

@media (max-width: 1000px) {
    .support {
        display: none;
    }

    .link {
        display: none;
    }

    .input {
        display: none;
    }

    .inputMobile input {
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        border: none;
        border-radius: 50px;
        font-size: 16px;
        background: none;
        padding: 12px 10px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        right: 0;
        position: absolute;
        top: 5px;
        overflow: hidden;
    }

    .inputMobile input::placeholder {
        color: transparent;
    }

    .inputMobile input:focus::placeholder {
        color: #aaaaaa;
    }

    .inputMobile input:focus {
        width: 90%;
        outline: none;
        background: #fff;
        border: 2px solid #FFCD00;
        height: auto;
        padding: 12px 10px 12px 20px;
        overflow: hidden;
    }

    .inputMobile img {
        width: 30px;
        position: absolute;
        right: 16px;
        top: 14px;
    }
}

@media (min-width: 1000px) {
    .inputMobile {
        display: none;
    }
}