.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 3%;
    width: 600px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 1px #b0b0b0;
    cursor: pointer;
    margin: 0 auto;
    z-index: 20;
    transition: all 0.5s;
}

.fixed {
    position: fixed;
    left: 50% !important;
    margin-left: -300px;
}

.cartText {
    text-align: center;
    width: 80%;
}

.container:hover {
    background: #d2ffe5;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    height: 50px;
    width: 150px;
    text-align: center;
    float: right;
    background: #ffed2d;
    font-weight: 500;
}

@media (max-width: 620px) {
    .container {
        width: 90%;
    }

    .fixed {
        margin: 0 !important;
        left: 5% !important;
    }
}