*:focus {
    outline: none;
}

.main {
    margin-top: 50px;
}

.scrollbar {
    outline: none!important;
    margin: 5px 20px;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}

.scrollbar img:hover {
    background: #FFE800;
    border-radius: 10px;
    transition: 0.2s;
}

.active {
    background: #FFE800;
    border-radius: 10px;
}

.scrollbar p {
    font-size: 14px;
    text-align: center;
}

.arrow {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 9px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #ddd;
    cursor: pointer;
    margin-top: -40px;
}

.arrow img {
    width: 20px;
    margin-top: 3px;
}

@media (max-width: 600px) {
    .arrow {
        display: none;
    }

    .hr {
        border: none;
        background: #ddd;
        height: 1px;
    }
}

@media (min-width: 600px) {
    .hr {
        display: none;
    }
}