.stickyWrapper {
    position: relative;
    height: 3rem;
}

.sticky .stickyInner {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.stickyInner hr {
    border: none;
    height: 1px;
    background: #bbb;
}

.scrollbar {
    outline: none!important;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}