.auth {
    padding: 8px 50px;
    border: none;
    border-radius: 5px;
    background: #ffe600;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

.category {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background: #ddd;
    cursor: pointer;
    outline: none;
}

.order {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background: #ffe600;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}