.auth {
    padding: 8px 50px;
    border: none;
    border-radius: 5px;
    background: #ffe600;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

.category {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background: #ddd;
    cursor: pointer;
    outline: none;
}

.order {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background: #ffe600;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

.PlusMinus {
    width: 30px;
    background: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
}

.submit {
    padding: 8px 30px;
    border: 2px solid #d9ac12;
    background: #ffce30;
    cursor: pointer;
    border-radius: 1px;
}

.submit:hover{
    background: #fdde7a;
}